<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAbandonedCart">Launch
  modal</button>

<!-- Modal: modalAbandonedCart-->
<div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Product in the cart
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>



    <div class="row">
      <div class="col-xs-6 offset-xs-3">
        <ul class="list-group chat-log js-chat-log">
        </ul>

        <div class="input-group input-group-lg mt-1">
          <input type="text" class="form-control js-text" placeholder="Type something to begin..."/>
          <span class="input-group-btn">
            <button class="btn btn-primary js-say">Submit</button>
          </span>
        </div>

      </div>
    </div>




    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal: modalAbandonedCart-->